body {
    max-width: 400px;
    margin: auto;
    background: #4c4c98;
    color:#062529;  
  
}
.link {
    padding: 5px 10px;
    background: #74bf7a;
    color: #343434;
    text-decoration: none
}