body {
    max-width: 400px;
    margin: auto;
    background: #243a64;
    color:#001619;  
  
}
.link {
    padding: 5px 10px;
    background: #74bf7a;
    color: #343434;
    text-decoration: none
}